* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(23, 23, 49);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    background-color: rgb(16, 16, 34);
    color: white;
    padding: 16px 0;
}

header nav li {
    display: inline;
    margin-left: 20px;
}

header nav li a {
    color:  rgb(168, 168, 168);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    border: solid;
    border-radius: 10px;
    border-color: rgb(168, 168, 168);
}

#ptw img {
    width: 200px;
    height: 250px;
    margin: 26px 0;
}

h2 {
    margin: 40px 0 16px 0;
    color: white;
}

.ptwimgs {
    display: flex;
    justify-content: space-between;
}

#nff img {
    width: 200px;
    height: 250px;
    margin: 26px 70px 0 0;
}

p, i{
    color: rgb(168, 168, 168);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#pwf img {
    width: 200px;
    height: 250px;
    margin: 26px 0;
}

.pwfimgs {
    display: flex;
    justify-content: space-between;
}

.contact-methods h3 {
    color: #fff;
    padding: 20px 0;
}

footer {
    background-color: rgb(16, 16, 34);
    padding-bottom: 20px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
}

.left-group {
    width: 45%;
}

.right-group {
    width: 45%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 93px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(42, 42, 116);
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(16, 16, 34);
}

input:focus, textarea:focus {
    outline-color: rgb(42, 42, 116);
}